<div class="todoWrapper" [style.height.px]='innerHeight'>
    <h3>To Do List</h3>
    <div class="add-task-wrapper row">
        <div class="actions pull-right col-md-12" *ngIf="!showAddTask">
            <button class="btn btn-primary pull-right" (click)="showAddTask = !showAddTask">Add Todo</button>
        </div>
    </div>

    <!-- Add A Task -->
    <div class="row clearfix addTaskRow" *ngIf="showAddTask">
        <div class="col-md-9">
            <input type="text" class="form-control" value="task.taskName" [(ngModel)]="task.taskName" autofocus="inputFocus" />
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger pull-right" (click)="showAddTask = !showAddTask">Cancel</button>
            <button type="button" class="btn btn-primary pull-right marginR10" (click)="addTask()">Save</button>
        </div>
    </div>

    <!-- Show tasks -->
    <div *ngIf="tasks.length > 0" class="clearfix tasks-wrapper">
        <div class="row" *ngFor="let task of tasks">
            <div class="col-md-9 task-name" (click)="completeTask(task)">
                <img src="assets/images/blue-check-mark.png" alt="check" class="img" *ngIf="task.isCompleted" />
                {{task.taskName}}
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-danger pull-right" (click)="removeTask(task._id)">Remove Task</button>
            </div>
        </div>
        <div class="numTasks">
            <p><em>{{tasksDone}} of {{tasks.length}} done</em></p>
        </div>
    </div>
    <div *ngIf="tasks.length == 0">
        <div class="row">
            <p class="col-md-12 text-danger">There is no task to show yet</p>
        </div>
    </div>

</div>
